.row {
  padding: 20px;
}

.body {
  padding: 20px;
}


.fileSelect {
  display: flex;
  padding: 2px 0;
}

.fileSelectButton {
  // width: 40px;
  padding: 0 2px;
  font-weight: 500;
  font-size: 13px;
  text-align: left;
  white-space: nowrap;
}

.fileSelectLabel {
  // width: 50%;
  font-size: 13px;
  align-self: center;
  padding: 10px;
}

.cenGroup {
  display: flex;
  padding-bottom: 15px;
  margin-left: 12px;
}

.cenGroup span {
  text-align: center;
  align-self: center;
  padding-right: 10px;
}

.renderedContainer {
  margin: 10px 0 0;
  padding: 10px;
  border: 3px dashed #aaa;
  border-radius: 11px;
}
